.claude
-
package-lock.json
package.json
libccshim.dylib
automator-action/Remove Image Backgrounds.action
bundle.js
ort-wasm-simd-threaded.jsep.mjs
node
bg-remover
bg-remover-rollup/resources
bg-remover-rollup/ort-wasm-simd-threaded.jsep.wasm
bg-remover-rollup/ort-wasm-simd-threaded.mjs
bg-remover-rollup/ort-wasm-simd-threaded.wasm
bg-remover-rollup/ort.all.bundle.min.mjs
bg-remover-rollup/ort.all.min.mjs
bg-remover-rollup/ort.all.mjs
bg-remover-rollup/ort.bundle.min.mjs
bg-remover-rollup/ort.min.mjs
bg-remover-rollup/ort.mjs
bg-remover-rollup/ort.node.min.mjs
bg-remover-rollup/ort.wasm.bundle.min.mjs
bg-remover-rollup/ort.wasm.min.mjs
bg-remover-rollup/ort.wasm.mjs
bg-remover-rollup/ort.webgl.min.mjs
bg-remover-rollup/ort.webgl.mjs
bg-remover-rollup/ort.webgpu.bundle.min.mjs
bg-remover-rollup/ort.webgpu.min.mjs
bg-remover-rollup/ort.webgpu.mjs
